body {
    margin: 0px;
    padding: 0px;
    background-color: midnightblue;
    overflow-x: hidden;
    background: radial-gradient(midnightblue);
}

.page {
    display: flex;
    flex-direction: column;
}

.repeat {
    min-width: 100%;
    height: 2.5rem;
    background-image: repeating-linear-gradient(-45deg,
    transparent 0rem 0.625rem,
    midnightblue 0.625rem 2.5rem);
    margin-top: 3.125rem;
    margin-left: 2.438rem;
}

.repeat::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right,purple,lightblue,blue,green);
    height: 2.5rem;
    min-width: 100%;
    z-index: -1;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 2.5rem;
    padding-top: 1.25rem;
}

#page1-content {
    text-align: center;
    margin-top: 9.375rem;
    font-size: 100px;
    color: white;
    text-shadow: 0rem 0rem 0.344rem white;  
}

#schedule {
    color: white;
    background-image: linear-gradient(to right,purple,lightgreen);
    text-align: center;
    width: 32%;
    font-size: 40px;
}

#some-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    height: fit-content;
}

#date {
    border-bottom: 0.25rem white dotted;
    margin-top: 0px;
    font-size: 2.5rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-left: 0.25rem white solid;
    color: white;
}

#brochure {
    font-size: 2.813rem;
    margin-top: 40px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color: rgba(255,255,255,0.15);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page2 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.text {
    color: white;
    text-align: center;
    font-size: 40px;
    text-shadow: 0rem 0rem 0.344rem white;  
}

.ban {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#content {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 15px;
    font-size: 25px;
    background-color: rgba(255,255,255,0.15);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

#day {
    font-size: 40px;
    border-left: 2px dotted white;
    border-top: 2px dotted white;
    border-bottom: 2px dotted white;
    padding: 20px;
}

#info {
    font-size: 40px;
    border-right: 2px dotted white;
    border-top: 2px dotted white;
    border-bottom: 2px dotted white;
    padding: 20px;
}

#star {
    color: white;
    font-size: 25px;
    text-align: center;
}

#content_new {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 15px;
    font-size: 25px;
    background-color: rgba(255,255,255,0.15);
}

#title {
    font-size: 70px;
    text-shadow: 0px 0px 4px black;   
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.small {
    display: flex;
    flex-direction: row;
}

.number {
    font-size: 120px;
    margin: 20px;
    margin-right: 10px;
    color: grey;
    text-shadow: 1px 1px 4px black;
}

.info_syn {
    text-shadow: 1px 1px 4px black;
    font-size: 40px;
    margin: 20px;
    margin-left:0px;
    padding: 20px;
    background-image: linear-gradient(to right, purple,transparent);
}

.info_syn2 {
    text-shadow: 1px 1px 4px black;
    font-size: 40px;
    margin: 20px;
    margin-left:0px;
    padding: 20px;
    background-image: linear-gradient(to right, cyan,transparent);
}

#para1 {
    text-align: end;
    font-size: 40px;
    text-shadow: 1px 1px 4px black;
}

#para2 {
    text-align: start;
    font-size: 40px;
    text-shadow: 1px 1px 4px black; 
}

.aim_style {
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 4px black; 
    padding: 40px;
    padding-bottom: 10px;
}

#past {
    display: flex;
    flex-wrap: wrap;
    
}

.pas_contain {
    background-color: black;
    color: white;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    box-shadow: 3px 3px 3px purple;
}

.arrow {
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    text-shadow: 4px 7px 7px black;
}

#sponsor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: rgba(255,255,255,0.15); */
    border: 1px solid white;

}

.spon_info {
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 15px;
    font-size: 25px;
    background-color: rgba(0,0,0,0.15);
}

.yes_no {
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 15px;
    font-size: 30px;
    background-color: rgba(0,0,0,0.15);
}

#content_contact {
    color: black;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 15px;
    background-color: rgba(0,0,0,0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 50px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
    text-shadow: 2px 3px 7px black;
  }
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: underline;
    text-shadow: 2px 3px 7px black;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    text-shadow: 2px 3px 7px black;
}

.oh {
    text-decoration: underline;
    font-size: 40px;    
}